// About Style
#about {
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  min-height: 100vh;
  height: auto;
}

#about h1 {
  padding-top: 6%;
  padding-bottom: 1%;
  font-size: 200%;
  letter-spacing: 4px;
  font-weight: 600 !important;
  text-align: center;
}

#about .profile_pic img {
  display: block;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
}

#about .profile_pic span {
  display: inline-block;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  margin-bottom: 3%;
}

#about .card {
  font-size: 2vh;
  text-align: center;
  line-height: 3vh;
  border: none;
  margin-bottom: 3%;
}

#about .res-button a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 5px 20px;
  font-size: 145%;
  text-align: center;
  text-decoration: none;
  width: 130px;
  border-radius: 8px;
}

// MOBILE
@media only screen and (max-width: 768px) {

  #about h1 {
    font-size: 180%;
    padding-top: 50px;
  }

  #about .profile_pic img {
		width: 150px;
		height: 150px;
	}

  #about .card {
    font-size: 1.5vh;
    line-height: 2.8vh;
  }
  
}