// About Style
#about {
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  height: 100vh;
}

#about h1 {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 600 !important;
  text-align: center;
}

#about .profile_pic img {
  display: block;
  max-width: 400px;
  border-radius: 50%;
}

#about .profile_pic span {
  display: inline-block;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

#about .card {
  font-size: 120%;
  text-align: center;
  line-height: 180%;
  border: none;
  margin-bottom: 5%;
}

#about .res-button a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 5px 20px;
  font-size: 145%;
  text-align: center;
  text-decoration: none;
  width: 130px;
  border-radius: 8px;
}

// MOBILE
@media only screen and (max-width: 480px) {

  #about h1 {
    font-size: 180%;
    padding-top: 50px;
  }
}

// LARGER SCREEN
@media only screen and (min-width: 1200px) {
  #about .card {
    font-size: 180%;
  }
}