// Imports
@import './theme.scss';
@import './Nav.scss';
@import './Header.scss';
@import './About.scss';
@import './Experience.scss';
@import './Projects.scss';
@import './Skills.scss';
@import './Services.scss';
@import './Footer.scss';

// Global Styles
body, html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

