// Footer Style

footer {
 min-height: 25vh;
 height: auto;
 width: 100%;
 overflow: hidden;
 font-size: 200%;
 position: relative;
 text-align: center;
 margin: 0;
 padding: 0;
}

.social-links {
	font-size: 140%;
}