// Header Style

#home {
 min-height: 100vh;
 height: auto;
}

.title-styles {
	font-size: 250%;
}

.header-icon {
	width: 18vw;
	margin-bottom: 3%;
	border-radius: 500%; /* Crop the image into a circle */
	border: 2px solid;
}

header {
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 160px;
}

header h1 {
	font-size: 350%;
	text-align: center;
	font-weight: 600 !important;
	margin: 0 auto 1% auto;
	width: 100%;
}

.header-network-icons {
	cursor: pointer;
}

.header-icon-links {
    font-size: 400%;
}

// MOBILE
@media only screen and (max-width: 768px) {
	.header-icon {
		width: 150px;
		margin-bottom: 30px;
	}

	.spinner {
		width: 150px;
		height: 150px;
	  }
}