/* Projects Style */

#projects {
	min-height: 100vh;
	height: auto;
}
  
.section-title {
	padding-top: 8%;
	padding-bottom: 4%;
	font-size: 200%;
	letter-spacing: 3px;
	font-weight: 600 !important;
	text-align: center;
}

.project-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: center;
}

.project-item {
	cursor: pointer;
	transition: transform 0.3s ease;
	height: 40vh;
}

.project-item:hover {
	transform: scale(1.05);
}

.project-card {
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	border: 2px solid;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.single-image {
	width: 100%;
	height: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card:hover .project-image {
	transform: scale(1.1);
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
	opacity: 1;
}

.project-title {
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
}

.project-date {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
  }
  
  .close-icon {
	font-weight: lighter !important;
  }
  
  .modal-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 200%;
  }
  
  .modal-description {
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 120%;
	text-align: justify;
	line-height: 180%;
  }
  
  .modal-inside .modal-content {
	border-width: 3px;
	border-radius: 25px;
  }


@media (max-width: 768px) {
	.section-title {
		font-size: 180%;
		padding-top: 50px;
		padding-bottom: 1%;
	}

	.project-card {
		max-width: 90%;
		margin: 0 auto;
		height: 20vh;
		width: 80vw;
	}

	.project-grid {
		gap: 1.5rem;
	}
}