/* Services Section Styles */

#services {
  background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	min-height: 100vh;
	height: auto;
}

.section-title {
	padding-top: 8%;
	font-size: 200%;
	letter-spacing: 3px;
	font-weight: 600 !important;
	text-align: center;
}

.service-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.services-tile {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: none;
}

.services-tile:focus {
  outline: none; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.services-tile:hover {
  transform: translateY(-8px) scale(1.05);
}

.services-tile i {
  font-size: 3rem;
  transition: color 0.3s ease;
}

.service-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 15px;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .services-tile {
    width: 250px;
    padding: 15px;
  }

	.section-title {
		font-size: 180%;
		padding-top: 50px;
	}
}